body {
    background-image: url(images/black.jpg);
    color: black;
    margin: 10px;
}

#summary {
    padding: 10px;
}

.active:hover {
    color: grey;
}

.stud_rows {
    padding: 15px;
}

.course_rows {
    padding: 15px;
}

.major_rows {
    padding: 15px;
}