<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Enrollment</title>
    <!-- Latest compiled and minified Bootstrap and jQuery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    {% block scripts %}
    <!-- Script for the onClick functions -->
    <script src="{{url_for('static', filename='script.js')}}"></script>

    {% endblock %}}
</head>
{% block content%}
<nav class="nav nav-pills navbar navbar-inverse bg-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="opacity: 0.78">
            <a class="navbar-brand" href="http://127.0.0.1:5000" style="padding-right: 1em">
                <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
            </a>
            <ul class="nav navbar-nav">
                <li class="active" style="width: 7em"><a href="#" onclick="get_students()">Students</a></li>
                <li class="active" style="width: 7em"><a href="#" onclick="get_courses()">Courses</a></li>
                <li class="active" style="width: 7em"><a href="#" onclick="get_majors()">Majors</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class=".container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <div class="row">
                <div class="thumbnail" style="opacity: 0.7">
                    <div class="caption">
                        <center>
                            <h3 class="title">Enroll Student</h3>
                            <p>Course ID: <input type="text" id="course_id"></p>
                            <p>Student ID: <input type="text" id="stud_id"></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button" onclick="enroll_student()">
                                    Enroll
                                </a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail" style="opacity: 0.7">
                    <div class="caption">
                        <center>
                            <h3 class="title">Courses for Student</h3>
                            <p>Student ID: <input type="text" id="cs_id"></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button"
                                   onclick="get_courses_for_student()">
                                    GET
                                </a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail" style="opacity: 0.7">
                    <div class="caption">
                        <center>
                            <h3 class="title">Enrolled Students</h3>
                            <p>Course ID: <input type="text" id="sc_id"></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button"
                                   onclick="get_enrolled_students()">
                                    GET
                                </a>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-10">
            <div class="thumbnail" style="opacity: 0.7">
                <legend id="shop_info"><strong>Tables Fetched:</strong></legend>
                <div class="table-responsive">
                    <table id="summary" class="table">
                    </table>
                </div>
                <br>
                <div class="error_messages">
                    {% with errors = get_flashed_messages(with_categories=true, category_filter=["error"]) %}
                    {% if errors %}
                    <div class="alert alert-danger">
                        <div>
                            <h4><strong>Error Messages:</strong></h4>
                        </div>
                        <ul class=flashes>
                            {% for message in errors %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>